
autogen-core
autogen-ext[openai]
rich
ipython

torch
transformers
accelerate
diffusers
imageio-ffmpeg
imageio
sentencepiece


opencv-python

litellm[proxy]

google-genai


# 0601
pandas
numpy



# 0702 - google form
google-auth 
google-auth-oauthlib 
google-api-python-client


